body{
  margin-top: 10px;
}
.cardList{
  width: 18rem;
}
.formLength{
  width: 14.25rem;
}

.cardRow{
display: flex;
flex-direction: row;
}

.formRow{
  display: flex;
justify-content: flex-start;
}

.space{
  margin-top: 10px;
}